<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <!-- Unique identifier for the job -->
  <key>Label</key>
  <string>com.christiandecoske.ignition</string>

  <!-- Use the wrapper script -->
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>/Users/name/Path/To/fuel.sh</string>
  </array>

  <!-- Start automatically when you log in -->
  <key>RunAtLoad</key>
  <true/>

  <!-- Only run in GUI sessions -->
  <key>LimitLoadToSessionType</key>
  <string>Aqua</string>
</dict>
</plist>
